<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>&nbsp;&nbsp;<img src="assets/icon.png" style="height:1em"> Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="keyword" (keypress)="cariData($event)"></ion-searchbar>
  <ion-list>
    <div *ngFor="let row of items">
    <ion-item [routerLink]="[row.id]">
        <ion-thumbnail slot="start">
            <img src="{{imageurl('artikel/'+row.id+'.jpg?t='+row.updated_at)}}">
        </ion-thumbnail>
        <ion-label style="padding-left:1em">
            <h3 style="font-weight: bold;">{{row.judul}}</h3>
            <p [innerHTML]="row.isi.substr(0, 100)"></p>
        </ion-label>
    </ion-item>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-list> 
</ion-content>
