<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>&nbsp;<ion-icon name="chevron-back-outline" onclick="history.back()" style="position:absolute;left:1em"></ion-icon>&nbsp;Detail Berita</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <img src="{{imageurl('artikel/'+data.id+'.jpg?t='+data.updated_at)}}">
    <div style="padding:0 1em">
      <h3 style="font-weight: bold;">{{data.judul}}</h3>
      <p [innerHTML]="data.isi"></p>
    </div>
  </ion-content>
  