<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/beranda">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1" href="/tabs/olahraga">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Olahraga</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1" href="/tabs/pemuda">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Pemuda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1" href="/tabs/berita">
      <ion-icon aria-hidden="true" name="newspaper"></ion-icon>
      <ion-label>Berita</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1" href="/tabs/kontak">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Kontak</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
