<ion-header>
  <ion-toolbar>
    <ion-searchbar search-icon="search-circle" animated="true" placeholder="SIAP" style="color: black;">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="reset">
    <ion-row class="margin-btm-21">
      <!-- Carousel -->
      <ion-col>
        <swiper-container [modules]="swiperModules" autoplay="true" allowTouchMove="true" style="height: 162px">
          <swiper-slide>Slide 1</swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 3</swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    
    <ion-row id="gender-selector" class="width-100p margin-btm-21 padding-left-13 padding-right-13 padding-btm-13">
      <!-- Gender tab selector -->
      <ion-col size="2">
        <ion-button class="text-center">Pria</ion-button>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-button class="text-center">Wanita</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--  -->
        <ion-grid id="cabor-container">
          <ion-row>
            <ion-col size="4" class="cabor-item">cabor1</ion-col>
            <ion-col size="4" class="cabor-item">cabor2</ion-col>
            <ion-col size="4" class="cabor-item">cabor3</ion-col>
            <ion-col size="4" class="cabor-item">cabor4</ion-col>
            <ion-col size="4" class="cabor-item">cabor5</ion-col>
            <ion-col size="4" class="cabor-item">cabor6</ion-col>
            <ion-col size="4" class="cabor-item">cabor7</ion-col>
            <ion-col size="4" class="cabor-item">cabor8</ion-col>
            <ion-col size="4" class="cabor-item">cabor9</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
