ion-toolbar {
    --background: white;
}

ion-searchbar {
    --background: white;
    --color: #fff;
    // --placeholder-color: rgba(0, 0, 0, 1) !important;
    --placeholder-opacity: 1;
    --icon-color: rgba(89, 89, 89, 0.382);
    --clear-button-color: black;
    color: black;
    font-weight: 800;

    --border-radius: 4px;
    height: 100%;

    padding: 0;
    margin: 0;
}

ion-grid {
    padding-left: 0;
    padding-right: 0;
}

#category-selector {
    position: relative;
}

#category-selector::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    // border-bottom: 1px solid black;
}

.centered-container ion-grid ion-row {
    justify-content: start;
}

.sport-item-wrapper {
    padding: 8px;
    // border: 1px black solid;
    aspect-ratio: 1/1;
}

.sport-item-content {
    background-color: white;
    color: black;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80%;
}

.sport-item-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sport-name-container {
    width: 100%;
    height: 20%;
    // position: relative;
}

// #category-selector ion-row ion-col span {
//     font-size: 0.5em;
// }

.selected {
    color: chocolate;
}

.selected span {
    font-size: 1.2em;
    font-weight: 500;
}

// .image-box {
//     position: relative;
//     width: 100%;
//     background-size: cover;
//     background-position: center;
// }

// .image-box::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.382);
// }

.sport-list-image {
    // border-bottom: 1px solid black;
}