ion-toolbar {
    --background: white;
    color: black;
}

ion-searchbar {
    --background: white;
    --color: #fff;
    // --placeholder-color: rgba(0, 0, 0, 1) !important;
    --placeholder-opacity: 1;
    --icon-color: rgba(89, 89, 89, 0.382);
    --clear-button-color: black;

    --border-radius: 4px;
    height: 100%;

    padding: 0;
    margin: 0;
}

ion-grid {
    padding-left: 0;
    padding-right: 0;
}

ion-button {
    color: black;
    // border: 1px solid black;
}

ion-button::part(native) {
    background-color: white;
}

#gender-selector {
    position: relative;
}

#gender-selector::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-bottom: 1px solid black;
}

#cabor-container {
    // border: 1px solid red;
}

.cabor-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 125px;
    // harus cari cara dapetin nilai width buat bikin kotak
}