<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>&nbsp;&nbsp;<img src="assets/icon.png" style="height:1em"> Pemuda</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar [(ngModel)]="cari.keyword" (keypress)="cariData($event)"></ion-searchbar>
    <ion-list>
        <div *ngFor="let row of items" style="padding:0 1em 1em 1em;" align="center">
        <img src="{{imageurl('pemuda/'+row.id+'.jpg?t='+row.updated_at)}}" onError="src='assets/user.png'">
        <h3 style="font-weight: bold;">{{row.nama}}</h3>
        <p>
            Lokasi : {{row.kab_kota}}
        </p>
        <hr>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list> 
  </ion-content>