<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>&nbsp;&nbsp;<img src="assets/icon.png" style="height:1em"> Olahraga</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar [(ngModel)]="cari.keyword" (click)="searchstate=1"></ion-searchbar>
    <ion-list>
        <div *ngFor="let row of items" style="padding:0 1em 1em 1em;">
        <img src="{{imageurl('olahraga/'+row.id+'.jpg?t='+row.updated_at)}}">
        <h3 style="font-weight: bold;">{{row.nama}}</h3>
        <p>
            Cabor : {{row.cabor}}<br>
            Kategori : {{row.kategori}}<br>
            Lokasi : {{row.kelurahan}}, {{row.kecamatan}}, {{row.kab_kota}}
        </p>
        <hr>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list> 
  </ion-content>
  <div id="backdrop" *ngIf="searchstate" (click)="searchstate=0"></div>
  <div class="dialog" *ngIf="searchstate">
    <ion-item>
      Pencarian
      <a (click)="searchstate=0"slot="end">x</a>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-input [(ngModel)]="cari.keyword" style="text-align: right;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cabang Olahraga</ion-label>
      <ion-select [(ngModel)]="cari.cabor">
        <ion-select-option>Semua</ion-select-option>
        <ion-select-option *ngFor="let opt of cabor">{{opt.cabor}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Kategori</ion-label>
      <ion-select [(ngModel)]="cari.kategori">
        <ion-select-option>Semua</ion-select-option>
        <ion-select-option>Atlet</ion-select-option>
        <ion-select-option>Pelatih</ion-select-option>
        <ion-select-option>Wasit</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button (click)="cariData()">Cari</ion-button>
    </ion-item>
  </div>