<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>&nbsp;&nbsp;<img src="assets/icon.png" style="height:1em"> Olahraga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="cari.keyword" (click)="searchstate=1"></ion-searchbar>
  <ion-row>
    <ion-col size="4" class="sport-item-wrapper container-shadow" *ngFor="let opt of cabor" (click)="navigateTo('olahraga/'+opt['cabor'])">
      <div class="sport-item-content">
        <img class="sport-list-image" src="{{imageurl('cabor/'+opt['id']+'.jpg?t='+opt['updated_at'])}}" alt="{{opt['cabor']}}">
      </div>
      <div class="centering-container sport-name-container">
        <span>{{opt['cabor']}}</span>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<div id="backdrop" *ngIf="searchstate" (click)="searchstate=0"></div>
<div class="dialog" *ngIf="searchstate">
  <ion-item>
    Pencarian
    <a (click)="searchstate=0"slot="end">x</a>
  </ion-item>
  <ion-item>
    <ion-label>Nama</ion-label>
    <ion-input [(ngModel)]="cari.keyword" style="text-align: right;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Olahraga</ion-label>
    <ion-select [(ngModel)]="cari.cabor">
      <ion-select-option>Semua</ion-select-option>
      <ion-select-option *ngFor="let opt of cabor">{{opt.cabor}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Kategori</ion-label>
    <ion-select [(ngModel)]="cari.kategori">
      <ion-select-option>Semua</ion-select-option>
      <ion-select-option>Atlet</ion-select-option>
      <ion-select-option>Pelatih</ion-select-option>
      <ion-select-option>Wasit</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button (click)="cariData()">Cari</ion-button>
  </ion-item>
</div>