/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content {
    --background: var(--ion-color-primary-contrast);
}

.reset {
    padding: 0;
    margin: 0;
}


// reset all
* {
    padding: 0;
    margin: 0;
}

.width-100p {
    width: 100%;
}

.text-center {
    text-align: center;
}

.margin-5 {
    margin: 5px;
}

.margin-8 {
    margin: 8px;
}

.margin-13 {
    margin: 13px;
}

.margin-21 {
    margin: 21px;
}

.margin-34 {
    margin: 34px;
}

.margin-btm-5 {
    margin-bottom: 5px;
}

.margin-btm-8 {
    margin-bottom: 8px;
}

.margin-btm-13 {
    margin-bottom: 13px;
}

.margin-btm-21 {
    margin-bottom: 21px;
}

.margin-btm-34 {
    margin-bottom: 34px;
}

.padding-btm-5 {
    padding-bottom: 5px;
}

.padding-btm-8 {
    padding-bottom: 8px;
}

.padding-btm-13 {
    padding-bottom: 13px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-8 {
    padding-right: 8px;
}

.text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-with-outline {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    text-stroke: 1px rgba(0, 0, 0, 0.5);
    color: white;
}